@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);
body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #999;
  font-weight: 400;
  line-height: 25px;
  overflow-x: hidden !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #e74c3c;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:focus,
a:hover {
  outline: inherit;
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul,
ol {
  padding-left: 0 !important;
}
.row {
  padding: 60px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
.btn:focus,
.btn:active,
.btn:hover,
.btn,
.open .dropdown-toggle.btn {
  outline: inherit;
  border-color: inherit;
}
.btn {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 30px;
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-common {
  color: #ffffff;
  font-weight: 400;
  background: #e74c3c;
}
.btn-common:hover {
  background: #FF7B6B;
  color: #fff;
}
.section-title {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 30px;
  position: relative;
  color: #454545;
}
.small-title {
  font-size: 30px;
  color: #666;
  font-weight: 800;
  padding-bottom: 22px;
  line-height: 40px;
}
i {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#home {
  background: url(../img/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
#home .color-overlay {
  background: rgba(0, 0, 0, 0.3);
}
#home .logo-nav {
  color: #ffffff;
}
#home .logo-nav h2 {
  font-size: 24px;
  line-height: 38px;
}
#home .intro-section {
  margin-bottom: 155px;
  text-align: center;
  color: #ffffff;
}
#home .intro-section .intro {
  font-size: 50px;
  line-height: 76px;
  font-weight: 800;
  letter-spacing: 1px;
}
#home .intro-section .sub-heading {
  font-size: 18px;
  line-height: 36px;
}
#home .intro-section .btn-common {
  margin-top: 20px;
}

#main-features {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
#main-features img {
  width: 100%;
}
#main-features .feature-content {
  padding: 76px 42px;
}
#main-features .feature-content p {
  margin-bottom: 22px;
}
#main-features .item-2 {
  background: #ecf0f1;
}
#footer {
  background: #ecf0f1;
}
